.container{
    width: 88%;
    margin: auto;
    overflow-y: scroll;
    height: 88vh;
}
.movieList{
    display: flex;
    flex-flow: wrap;
    justify-content:center
}
.loadMoreButton {
    width:100px;
    height: 30px;
    margin: 15px 40%;
    border-radius: 18PX;
    font-size: 13px;
    text-align: center;
}

.loadMoreButton:hover {
    background: rgba(30, 125, 175, 0.686);
    border-radius: 18PX;
    border: none;
    color: #fff;
    font-weight: 600;
}

.loadMoreButton:active {
    background: rgb(184, 227, 184);
}