.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    color: #fff;
    width: 93%
};
.listItem{
    display: flex;
    list-style: none;
    color: #868686;
};
.navigation input{
    border: 50px;
}
.nav{
    width: 50%;
    justify-content: space-around;
}
.nav li{
    width: 100px;
}
.navigation >textarea:focus, input:focus {
    color: #7e7474;
}
.menu{
    display: flex;
    width: 86%;
}
.subMenu{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: #ccc;
}
.searchinput{
    padding: 10px 10px;
     border-radius: 50px;
      width: 220px;
       border: none; background: #374151
}

@media screen and (max-width: 700px){
    .navigation{
        flex-direction: column;
    }
    .menu{
        justify-content: space-between;
    }
    .searchinput{
        width: 80vw;
    }
}